.header {
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  font-family: sans-serif;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.profile {
  flex-basis: 22%;
  text-align: center;
}

img {
  width: 90%;
}

/*.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info p {
  flex-basis: 0;
}*/

.name {
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: bold;
  border-bottom: 2px solid teal;
}

.email {
  text-transform: uppercase;
  color: gray;
}

.address {
  padding: 0;
  margin: 5px;
  text-transform: capitalize;
}

.ssn {
   color: transparent;
   text-shadow: 0 0 5px rgba(0,0,0,0.7);
}

.ssn:hover {
  color: green;
  text-shadow: none;
}
